<style>

  div {
    background-image: url(https://i.giphy.com/media/nBFRrsg55sJqM/200w.webp);
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 400px
  }

  h1, h2, h3 {
    text-align: center;
  }
</style>

<div>
</div>

<h1>Holy fuck, <%= @game.player_two.name %> has been hit! </h1>
<br>
<br>
<h2> <%= @game.player_two.name %>: <%= @game.player_two.health %> HP </h2>
<br>
<h3> <a href="/play">Next Move</a> </h3>
