<style>
  div {
    background-image: url(http://www.realtalklondon.com/wp-content/uploads/2015/11/pfbjinq0mvctxnm87vtf.jpg);
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;

    padding:150px
  }
h4 {
  text-align: center;
}
h1 {
  text-align: center;
}
h5 {
  color:rgb(195, 0, 0)
}
</style>
<h5> Enter player names: </h5>
  <form action='/names' method="post">
    <input type="text" name="player_1">
    <input type="text" name="player_2">
    <input type="submit" value="Submit">
  </form>
  <br>
  <h1> Peep Show Unhinged </h1>

  <br><br><br>
<h4> "I've been initiated!  I'm a drug user! Fuck the police!" - Mark Corrigan </h4>
  <br>
  <div>


  </div>
<br>
 <h4>
"If I don’t think about it, there’s always a chance it didn’t happen."
— Jez </h4>
