<<<<<<< HEAD

<form action='/names' method="post">
  <input type="text" name="Player_1">
  <input type="text" name="Player_2">
=======
<h1>Battle!</h1>
<h2>Sign in to play</h2>
<form action="/names" method="post">
  <label for="player_1_name">
    Player 1 name
    <input type="text" name="player_1_name">
  </label>
  <label for="player_2_name">
    Player 2 name
    <input type="text" name="player_2_name">
  </label>
>>>>>>> 5a75334632d8c24ccd29aea304c5dc22de7d3743
  <input type="submit" value="Submit">
</form>
