<style>
  body {
    background-image: url(http://i.dailymail.co.uk/i/pix/2014/05/27/article-2640675-1E3D266300000578-919_634x376.jpg);
    background-size: 100%
  }
</style>

<body>
  <form action='/names' method="post">
    <input type="text" name="player_1">
    <input type="text" name="player_2">
    <input type="submit" value="Submit">
  </form>
</body>
